*.pyc
*.py~
*.py.bak
*.py.old
*.md~
*.txt~
Logs
*.log
Logs/*.pkl
TitleGraphs/*.jpg
TitleGraphs/*.png
build
dist
dist/*.egg
GeomagPy.egg-info
DataProducts/GIC.git
DataProducts/bailey-gitupload
DataProducts/StormDetector_old
Info/plots/basegraph.png
Logs/.magpyanalysismonitor.pkl
Logs/primaryinst.pkl
Logs/weekly.log
Seismo/neic_quakes.d
old/*
.idea
